.capabilities_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.title {
  padding-bottom: 20px;
}

@media (max-width: 834px) {
  .capabilities_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .capabilities_wrapper {
    grid-template-columns: 1fr;
  }
}
