.skills_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.title {
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .skills_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 834px) {
  .skills_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .skills_wrapper {
    grid-template-columns: 1fr;
  }
}
