.wrapper {
  padding: 0 2rem;
  position: relative;
}

.additional_data_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 0;
  gap: 2rem;
  padding-top: 80px;
}

.skills_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 834px) {
  .additional_data_wrapper {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }

  .skills_wrapper {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 0.75rem;
  }
}

@media (max-width: 390px) {
  .wrapper {
    padding: 0 0.5rem;
  }
}
